.wh-100 {
  width: 100vw;
  height: 100vh
}

.w-100 {
  width: 100vw;
}

.h-100 {
  height: 100vh;
}

.elements-center-x {
  display: inline-flex;
  justify-content: center;
}

.elements-center-y {
  display: inline-flex;
  align-items: center;
}

.elements-center-xy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rounded {
  border-radius: 10px;
}

.px {
  padding: 0px 20px;
}

.py {
  padding: 20px 0px;
}

.p-xy {
  padding: 20px;
}

.pb {
  padding: 0px 0px 12px 0px;
}

.mx {
  margin: 0px 20px;
}

.my {
  margin: 20px 0px;
}

.m-xy {
  margin: 20px;
}

[class*="text-"] {
  font-family: var(--main-font-gamja);
  opacity: .9;
}

.text-white {
  color: var(--main-white)
}
.text-black {
  color: var(--main-black)
}
.text-green {
  color: var(--main-green)
}
.text-purple {
  color: var(--main-purple)
}
.text-red {
  color: var(--main-red)
}
.text-yellow {
  color: var(--main-yellow)
}
.text-blue-dark {
  color: var(--main-blue-dark)
}
.text-blue-light {
  color: var(--main-blue-light)
}

.text-center {
  text-align: center;
}
