@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&display=swap');

:root {
  --main-white: #F6F6F6;
  --main-black: #414141;
  --main-blue-dark: #3F51B5;
  --main-blue-light: #2196F3;
  --main-yellow: #FEC108;
  --main-green: #8CC34B;
  --main-purple: #8C249F;
  --main-red: #9e3030;
  --main-font-gamja: 'Gamja Flower', cursive;
  --main-font-indie: 'Indie Flower', cursive;
}
