@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --main-white: #F6F6F6;
  --main-black: #414141;
  --main-blue-dark: #3F51B5;
  --main-blue-light: #2196F3;
  --main-yellow: #FEC108;
  --main-green: #8CC34B;
  --main-purple: #8C249F;
  --main-red: #9e3030;
  --main-font-poppins: 'Poppins', sans-serif;
}
