@import './css/root.css';

.container {
  width: 100vw;
  min-height: 100vh
}

#field-base {
  min-width: 350px;
  width: 650px;
  max-height: 70%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  padding: 20px;
  margin: 10px;
}

#brand {
  height: 50px;
  box-shadow: white 0px 0px 20px !important;
}

#input-task {
  padding: 0px 40px 0px 10px;
}

.input-container {
  display: flex;
  width: 100%;
}

.input-img {
  position: absolute;
  height: 20px;
  top: 136px;
  right: 32px;
}

.list-tasks {
  overflow-y: auto;
  padding-top: 40px;
  margin-top: 0px;
  transition: all 250ms linear;
}

[class*="btn-"] {
  cursor: pointer;
  border: none;
  transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
}

.btn-edit:hover {
  border-right: 2px solid var(--main-yellow);
  padding-right: 10px;
}

.btn-remove:hover {
  border-left: 2px solid var(--main-yellow);
  padding-left: 10px;
}

.task-check-hover {
  background-color: rgba(0, 0, 0, 0.25);
}