@import './css/root.css';

.container {
  width: 100vw;
  min-height: 100vh
}

#field-base {
  width: 100%;
  height: 100%;
  max-width: 650px;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    [row-start] min-content [row-start] min-content [row-start] auto [row-end];
}

.form {
  grid-row: 1;
}

.title {
  grid-row: 2;
  color: var(--main-white);
  text-align: center;
  padding: 10px 0px;
}

.list {
  grid-row: 3;
  overflow-y: auto;
  padding-top: 38px;
}


#brand {
  height: 50px;
  box-shadow: white 0px 0px 20px !important;
}

#input-task {
  padding: 0px 40px 0px 10px;
}

.input-container {
  display: flex;
  width: 100%;
}

.input-img {
  position: absolute;
  height: 20px;
  top: 136px;
  right: 32px;
}



[class*="btn-"] {
  cursor: pointer;
  border: none;
  transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
}

.btn-edit:hover {
  border-right: 2px solid var(--main-yellow);
  padding-right: 10px;
}

.btn-remove:hover {
  border-left: 2px solid var(--main-yellow);
  padding-left: 10px;
}

.task-check-hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.task-control {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  width: 100%;
  margin: 5px 0px;
  padding: 5px 0px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.task-control img {
  justify-self: center;
  align-self: center;
  height: 20px;
  cursor: pointer;
}

.task-control .edit {
  grid-column: 1;
  grid-row: 1;
}

.task-control input {
  grid-column: 2/11;
  grid-row: 1;
}

.task-control .remove {
  grid-column: 11;
  grid-row: 1;
}

.task-control .check {
  grid-column: 12;
  grid-row: 1;
}

.task-control .tags {
  grid-column: 1/13;
  grid-row: 2;
}

.task-control .tags ul {
  font-size: .85rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-control .tags ul li {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0px 5px;
  padding: 2px 16px;
  border-radius: 16px;
  color: var(--main-yellow);
}

.task-control .tags ul li:nth-child(2){
  color: var(--main-red);
}

